<section>
  <h2 class="pt-5 pb-5">Novidades</h2>
  <div class="row">
    <div class="col-md-3 mb-4" *ngFor="let product of newestProducts">
      <div class="card h-100 shadow-sm">
        <img src="https://placehold.jp/150x150.png" alt="imagem" class="img-fluid bg-info border">
        <div class="card-body d-flex flex-column">
          <a href="" class="text-decoration-none">
            <h6 class="text-uppercase name">
              {{product.productName}}
            </h6>
          </a>
          <span class="mb-2">{{product.productPrice | currency:'€'}}</span>
          <div class="btn-group mt-auto">
            <button routerLink="/shop/{{product.productId}}" class="btn btn-outline-secondary">Detalhes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
