<header class="d-flex flex-row align-items-center justify-content-between p-3 px-4 mb-3 bg-white border-bottom fixed-top shadow-sm">
  <div class="logo">
    <img src="./assets/images/logogrande.jpg" alt="Logo" class="logo" routerLink="/"/>
  </div>

  <nav class="my-2 text-uppercase fs-3 d-flex menu-spacing">
    <a class="p-2" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
    <a class="p-2" routerLink="/shop" routerLinkActive="active">Produtos</a>
    <a class="p-2" routerLink="/" routerLinkActive="">Novidades</a>
    <a class="p-2" routerLink="/edits" routerLinkActive="">Gestão</a>
  </nav>

  <div class="d-flex align-items-center">
    <a class="position-relative">
      <i class="fa fa-shopping-cart fa-2x me-5 text-dark"></i>
     <!-- <div class="cart-no">5</div>-->
    </a>
    <a href="" class="btn btn-outline-secondary me-2">Login</a>
    <a href="" class="btn btn-outline-secondary me-3">Registo</a>
  </div>
</header>
