.logo {
  width: 30%;
  height: auto;
  max-height: 80px;
  min-width: 175px;
  cursor: pointer;
  display: block;
  margin-left: 25px;
}

.cart-no {
  position: absolute;
  height: 25px;
  width: 23px;
  border-radius: 50%;
  background: #d83e00;
  color: black;
  text-align: center;
  top: -15px;
  right: 32px;
  margin-right: 50px;
  /*font-weight: bold;*/
}

a {
  text-decoration: none;
  color: #343a40;
  font-size: 17px;
}

a.active {
  color: #d83e00;
  font-size: 19px;
}

.menu-spacing {
  gap: 40px;
}

.btn {
  font-size: 14px;
  padding: 5px 10px;
}

.fa {
  font-size: 25px;
}

.left{
  margin-left: 100px;
}

.right{
  padding-right: 50px;
}
