.featured-carousel {
  height: 200px;
}

.featured-carousel img {
  object-fit: cover;
  height: 560px;
  border-radius: 40px;
}

.name {
  color: #d83e00;
  font-weight: bold;
}

.card:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}

